MUSICLABEL=YourLabelName
MUSICLABEL_BANDCAMP_URL=https://yourlabel.bandcamp.com

DIGITAL_RELEASE_PREFIX=YL-
CASSETTE_RELEASE_PREFIX=YL-MC-
LP_RELEASE_PREFIX=YL-LP-
CD_RELEASE_PREFIX=YL-CD-
ARCHIVE_RELEASE_PREFIX=YL-ARCH-

MUSICBRAINZ_USERNAME=youruser
MUSICBRAINZ_PASSWORD=yourpass

SPOTIPY_CLIENT_ID=...
SPOTIPY_CLIENT_SECRET=...
SPOTIPY_REDIRECT_URI=...
SPOTIFY_USER_NAME=...